# Ignore everything
*

# Whitelist subdirectories
!*/

# Whitelist the following extensions
!*.c
!*.cpp
!*.h
!*.rs
!*.tex
!*.txt
!*.sh
!*.py
!*.mk
!*.odt
!*.toml
!*.odp
!*.png

# Whitelist specific filenames
!*.gitignore
!*README
!*LICENSE
!*Makefile

# Overrides
*/out/*
